<!DOCTYPE html>
<html lang="en" >
<head>
 	<meta charset="UTF-8">
 	<title>Signup</title>
	<link rel="stylesheet" type = "text/css" href= "static/css/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
	<div class="login-page">
		<div class="form">
			<form  action = "/signup" method = 'POST'>
				<input type="text" placeholder="Full Name" name = "name" required />
				<br>
				<input type="text" placeholder="User Name" name = "username" minlength = "5" required/>
				<input type="password" placeholder="Password" name = "password" minlength="6" required/>
				<br>
				<input type="text" placeholder="Valid Email"name = "email" required/>
				<br>
 				<input type="text" placeholder="Bio (max 50 chars)" name = "bio" required maxlength="50" />
				<br>
				<button>Signup</button>
				<p class="message">Already registered?<a href="/login">login</a></p>
			</form>
		</div>
	</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>